.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 2rem 0;
  border-bottom: 1px solid slategrey;

  &:first-of-type {
    border-top: 1px solid slategrey;
  }

  > :first-child {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  > :nth-child(2) {
    display: none;
  }
  > :last-child {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
  }
  > td {
    display: flex;
    align-items: center;
  }

  @media (min-width: 600px) {
    grid-template-rows: 1fr 1fr;
    grid-row-gap: .75rem;

    > :nth-child(2) {
      display: block;
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }
}
