.map {
  > figure {
    height: 400px;
    width: 100%;
  }

  > figcaption {
    font-family: var(--sans);
    font-size: .75rem;
    letter-spacing: .3px;
    color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--rule);
    padding: .5rem 0;
  }
}
