.nav {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--rule);

  > :first-child {
    display: inline-block;
    font-family: var(--serif);
    text-align: center;
    color: var(--black);
    margin-right: auto;

    & div {
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: .02em;
      text-align: center;
      border-top: 2px solid var(--black);
      border-bottom: 2px solid var(--black);
      padding: .15rem 0 .1rem;
    }
  }

  > :nth-child(2) {
    display: flex;
    justify-content: flex-end;

    > button {
      height: 1.75rem;
      width: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }

  > :nth-child(3) {
    padding-top: 0.75rem;
  }

  > :nth-child(n+3) {
    background-color: white;
    width: 100%;
    text-align: center;

    > a {
      padding: 1rem 0;
    }
  }

  > :last-child {
    border-bottom: 1px solid var(--rule);
    padding-bottom: 0.75rem;
  }

  @media (min-width: 600px) {
    > :nth-child(2) {
      display: none;
    }

    > :nth-child(n+3) {
      width: auto;
      padding-top: 0;
      padding-left: 2rem;

      > a {
        padding: 0.5rem 0;
      }
    }

    > :last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
